.CartProduct {
  background: #e85d04;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 15%;
  padding-left: 1%;
  margin: 2%;
}

.CartProduct img {
  height: 100px;
  width: 100px;
}

.CartProduct:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
